<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-phone-square"></i>
            <span>HRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Employee/List"><i class="fa fa-circle-o"></i>Employee</a></li>
            <li><a href="#List/Leave%20Application/List"><i class="fa fa-circle-o"></i>Leave Application</a></li>
            <li><a href="#List/Leave%20Type/List"><i class="fa fa-circle-o"></i>Leave Type</a></li>
            <li><a href="#List/Leave%20Allocation/List"><i class="fa fa-circle-o"></i>Leave Allocation</a></li>
            <li><a href="#Form/Leave%20Control%20Panel"><i class="fa fa-circle-o"></i>Leave Allocation Tool</a></li>
           <li><a href="#List/Leave%20Block%20List/List"><i class="fa fa-circle-o"></i>Leave Block List</a></li> 
           <li><a href="#List/Salary%20Slip/List"><i class="fa fa-circle-o"></i>Salary Slip</a></li> 
           <li><a href="#List/Salary%20Structure/List"><i class="fa fa-circle-o"></i>Salary Structure</a></li> 
           <li><a href="#List/Salary%20Component/List"><i class="fa fa-circle-o"></i>Salary Components</a></li> 
          </ul>
        </li>
<!--         <li class="treeview">
          <a href="#">
            <i class="fa fa-line-chart"></i>
            <span>Sales</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a> -->
<!--         <ul class="treeview-menu">
            <li><a href="#List/Quotation"><i class="fa fa-circle-o"></i>  Quotation</a></li>
            <li><a href="#List/Sales Order"><i class="fa fa-circle-o"></i>  Sales Order</a></li>
            <li><a href="#modules/Selling"><i class="fa fa-circle-o"></i>  More...</a></li>
          </ul>
        </li> -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span>REPORTS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#query-report/Employee%20Leave%20Balance"><i class="fa fa-circle-o"></i>Employee Leave Balance</a></li>
            <li><a href="#query-report/Employee%20Birthday"><i class="fa fa-circle-o"></i>Employee Birthday</a></li>
            <li><a href="#query-report/Employees%20working%20on%20a%20holiday"><i class="fa fa-circle-o"></i>Employees working on a holiday</a></li>
            <li><a href="#Report/Employee/Employee%20Information"><i class="fa fa-circle-o"></i>Employee Information</a></li>
            <li><a href="#query-report/Salary%20Register"><i class="fa fa-circle-o"></i>Salary Register</a></li>
            <li><a href="#query-report/Monthly%20Attendance%20Sheet"><i class="fa fa-circle-o"></i>Monthly Attendance Sheet</a></li>
            <li><a href="#query-report/Vehicle%20Expenses"><i class="fa fa-circle-o"></i>Vehicle Expenses</a></li>
          </ul>
        </li> 
<!--          <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Communication</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Event/Calendar"><i class="fa fa-circle-o"></i>Calendar</a></li>
            <li><a href="#List/Note/List"><i class="fa fa-circle-o"></i>Note</a></li>
            <li><a href="#chat"><i class="fa fa-circle-o"></i>Chat</a></li>
            <li><a href="#List/ToDo/List"><i class="fa fa-circle-o"></i>ToDo</a></li>
            <li><a href="#List/Interaction/Calendar/Interaction Calendar"><i class="fa fa-circle-o"></i>Interaction Calendar</a></li>
            <li><a href="#modules/Stock"><i class="fa fa-circle-o"></i> More...</a></li> 
          </ul>
        </li> -->
       <li class="treeview">
          <a href="#">
            <i class="fa fa-file-powerpoint-o"></i>
            <span>Setup</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#Form/HR%20Settings"><i class="fa fa-circle-o"></i>HR Settings</a></li>
            <li><a href="#List/Employment%20Type/List"><i class="fa fa-circle-o"></i>Employment Type</a></li>
            <li><a href="#List/Branch/List"><i class="fa fa-circle-o"></i>Branch</a></li>
            <li><a href="#List/Department/List"><i class="fa fa-circle-o"></i>Department</a></li>
            <li><a href="#List/Designation/List"><i class="fa fa-circle-o"></i>Designation</a></li>
          </ul>
        </li>
       <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-life-ring"></i>
            <span>Support</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Issue"><i class="fa fa-circle-o"></i> Issue</a></li>
            <li><a href="#List/Maintenance Visit/List"><i class="fa fa-circle-o"></i> Maintenance Visit</a></li>
            <li><a href="#List/Maintenance Schedule/List"><i class="fa fa-circle-o"></i> Maintenance Schedule</a></li>
            <li><a href="#List/Warranty Claim/List"><i class="fa fa-circle-o"></i> Warranty Claim</a></li>
            <li><a href="#modules/Support"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-male"></i>
            <span>Human Resources</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Leave Application/List"><i class="fa fa-circle-o"></i> Leave Application</a></li>
            <li><a href="#List/Timesheet"><i class="fa fa-circle-o"></i> Timesheet</a></li>
            <li><a href="#List/Appraisal"><i class="fa fa-circle-o"></i> Performance Appraisal</a></li>
            <li><a href="#List/Training Event"><i class="fa fa-circle-o"></i> Training Event</a></li>
            <li><a href="#modules/HR"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-calculator"></i>
            <span>Accounts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Sales Invoice"><i class="fa fa-circle-o"></i> Sales Invoice</a></li>
            <li><a href="#List/Purchase Invoice"><i class="fa fa-circle-o"></i> Purchase Invoice</a></li>
            <li><a href="#List/Payment Entry"><i class="fa fa-circle-o"></i> Payment Entry</a></li>

            <li><a href="#query-report/Accounts Receivable"><i class="fa fa-circle-o"></i> Accounts Receivable</a></li>
            <li><a href="#query-report/Accounts Payable"><i class="fa fa-circle-o"></i> Accounts Payable</a></li>
            <li><a href="#query-report/Trial Balance"><i class="fa fa-circle-o"></i> Trial Balance</a></li>
            <li><a href="#query-report/Balance Sheet"><i class="fa fa-circle-o"></i> Balance Sheet</a></li>
            <li><a href="#query-report/Cash Flow"><i class="fa fa-circle-o"></i> Cash Flow</a></li>
            <li><a href="#query-report/Profit and Loss Statement"><i class="fa fa-circle-o"></i> Profit and Loss Statement</a></li>
            <li><a href="#modules/Accounts"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li> -->
        <li>
          <a href="#List/User/List">
            <i class="fa fa-cog"></i> <span>User</span>
          </a>
        </li>
		</ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="overlay"><div>